{% extends 'main/base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
          <div class="text-warning mr-4">Пользователь</div>
            {{ form.id_user}}
          <select class="form-control" name="id_user" id="id_user">
            {% for el in users %}
            <option value="{{ el.name }}">{{ el.name }}</option>
            <br>
            {% endfor %}
          </select><br>
        <div class="text-warning mr-4">Доктор</div>
          <select class="form-control" name="id_doctor" id="id_doctor">
            {% for el in doctors %}
            <option value="{{ el.name }}">{{ el.full_name }}</option>
            <br>
            {% endfor %}
          </select><br>
        <div class="text-warning mr-4">Дата</div>
        <input class="form-control" type="datetime-local"><br>
        <button type="submit" class="btn btn-success">Подтвердить</button>
        </div><br>
    </form>


{% endblock %}