{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">{{ title }}</h2>
  <div class="p-3">
    <div class="d-flex border border-success p-5">
      <div>
        <img class="avatar-profile" src="{{ self_user.avatar.url }}" alt="avatar">
        <a class="text-success text-decoration-none d-block text-center mt-2" href="edit-avatar">Изменить аватар</a>
      </div>
      <div class="ml-4">
        <div class="mb-2 d-flex title-profile">
          <div class="dinamik-title">{{ request.user.username }}</div>
        </div>
        <div class="mb-2 d-flex title-profile">
          <div class="dinamik-title">{{ self_user.name }} <span class="ml-2">{{ self_user.surname }}</span>
          </div>
        </div>
        <div class="mb-2 d-flex title-profile">
          <div class="dinamik-title">{{ request.user.email }}</div>
        </div>
        <a class="text-success text-decoration-none" href="edit-data">Редактировать данные</a>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="p-5"></div>
{% endblock %}